<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico"/>
    <title>Sistema Escolar</title>
    <link rel="stylesheet" type="text/css"
        href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="resources/css/bootstrap-vue.css">
    <link type="text/css" rel="stylesheet" 
        href="//unpkg.com/bootstrap@4.4.1/dist/css/bootstrap.min.css" />
 </head>
 <body>
	<div id="main">
		<div>
			<template v-if="usuarioLogado.isAuth == true">
				<b-navbar toggleable="lg" type="dark" variant="dark"/>
				<b-navbar-brand href="/escola/index.html"><img 
					src="https://www.acsi.com.br/images/2018/10/08/escola-place.png" 
					width="35" weight="35"/> Escola </b-navbar-brand>
				<b-collapse id="nav-collapse" is-nav>
					<b-navbar-nav>
						<template v-if="usuarioLogado.tipo == 'ADMINISTRADOR' || usuarioLogado.tipo == 'DOCENTE'">							
							<b-nav-item disabled href="">Estudantes</b-nav-item>
							<b-nav-item disabled href="">Professores</b-nav-item>
						</template>
						<template v-else="usuarioLogado.tipo == 'ESTUDANTE'">
							<b-nav-item href="/escola/index.html">Meus dados</b-nav-item>
						</template>
					</b-navbar-nav>
				<b-navbar-nav class="ml-auto">
					<b-nav-form>
						<b-navbar-brand >Logado como: {{usuarioLogado.tipo}}</b-navbar-brand>
						<b-button size="sm" class="my-2 my-sm-0" @click="sair">Sair</b-button>
					</b-nav-form>
				</b-navbar-nav>	
			</template>
		</div>
		<template v-if="usuarioLogado.tipo == 'ADMINISTRADOR'">
			<b-row class="text-center">
				<b-col></b-col>
				<b-col cols="5">
					<br>
					<div>
						<b-card title="Professores" sub-title="Professores cadastrados no sistema">
							<template v-if="professores.length > 0">
								<table  class="table">
									<tr>
										<th>Identificação</th>
										<th>Materia</th>
										<th>Nome</th>
										<th>Turno</th>
										<th></th>
										<th></th>
									</tr>
										<tbody id="event-table" >
											<tr v-for="professor in professores">
											<td>{{ professor.id }}</td> 
											<td>{{ professor.materia }}</td> 
											<td>{{ professor.nome }}</td> 
											<td>{{ professor.turno }}</td> 
											<td><b-button class="btn btn-info" v-b-modal.modal-1 @click="loadEdicao(professor,1)">&#9998;</b-button>
												<b-button class="btn btn-danger" @click="">&#10006;</b-button>
											</td>
											</tr>
										</tbody>
								</table >
							</template>
							<template v-else>
								<h5 align="center">Não foi encontrado nenhum professor</h5>
							</template>
						</b-card>
					</div>
				</b-col>
				<b-col></b-col>
			  </b-row>
		</template>
		<template v-if="usuarioLogado.tipo == 'ADMINISTRADOR' || usuarioLogado.tipo == 'DOCENTE'">
			<b-row class="text-center">
				<b-col></b-col>
				<b-col cols="5">
					<br>
					<div>
						<b-card title="Alunos" sub-title="Alunos cadastrados no sistema">
							<template v-if="alunos.length > 0">
								<table  class="table">
									<tr>
										<th>Identificação</th>
										<th>Nome</th>
										<th>Idade</th>
										<th>Serie</th>
										<th>Ensino</th>
										<th></th>
									</tr>
										<tbody id="event-table" >
											<tr v-for="aluno in alunos">
											<td>{{ aluno.id }}</td> 
											<td>{{ aluno.nome }}</td> 
											<td>{{ aluno.idade }}</td> 
											<td>{{ aluno.serie }}</td> 
											<td>{{ aluno.ensino }}</td> 
											<template v-if="usuarioLogado.tipo == 'ADMINISTRADOR'">
												<td><b-button class="btn btn-info" v-b-modal.modal-2  @click="loadEdicao(aluno,2)">&#9998;</b-button>
													<b-button class="btn btn-danger" @click="">&#10006;</b-button>
												</td>
											</template>
											</tr>
										</tbody>
								</table >
								<!-- MODAL DE EDIÇÃO   -->
								<div>		  
									<b-modal id="modal-1" title="Edição de professor">
									  <p class="my-4">Editar professor <strong>{{toEdit.nome}}</strong></p>
									  <div>
										<b-form-group
										  id="fieldset-12"
										
										  label="Informe o nome"
										  label-for="input-1"				     
										>
										  <b-form-input id="input-1" required v-model="professor.nome"></b-form-input>
										</b-form-group>
									  </div>
									  <div>
										<b-form-group
										  id="fieldset-13"
										
										  label="Informe a materia"
										  label-for="input-1"				     
										>
										  <b-form-input id="input-2" required v-model="professor.materia"></b-form-input>
										</b-form-group>
									  </div>
									  <div>
										<b-form-group
										  id="fieldset-14"
				
										label="Informe o ano do ensino medio"
										label-for="input-1">
										  <b-form-select v-model="professor.turno" required :options="turnos"></b-form-select>
									  	</b-form-group>
									   </div>
									</b-modal>
								</div>
								<div>		  
									<b-modal id="modal-2" title="Edição de aluno">
									  <p class="my-4">Editar aluno <strong>{{toEdit.nome}}</strong></p>
									  <div>
										<b-form-group
										  id="fieldset-12"
										
										  label="Informe o nome"
										  label-for="input-1"				     
										>
										  <b-form-input id="input-1" required v-model="aluno.nome"></b-form-input>
										</b-form-group>
										<b-form-group
										id="fieldset-12"
									  
										label="Informe o nome"
										label-for="input-1"				     
									  >
										<b-form-input id="input-1" required v-model="aluno.idade"></b-form-input>
									  </b-form-group>
									  <div>
										<b-form-group
										  id="fieldset-14"
				
										label="Informe o ano do ensino medio"
										label-for="input-1">
										  <b-form-select v-model="grauSelecionado" required :options="graus"></b-form-select>
									  </b-form-group>
									 </div>
									 <div>
										<b-form-group
										  id="fieldset-14"
				
										label="Informe o ano do ensino medio"
										label-for="input-1">
										  <b-form-select v-model="aluno.serie" required :options="series"></b-form-select>
									  </b-form-group>
									 </div>
									  </div>
									</b-modal>
								</div>
								<!-- FIM MODAL DE EDIÇÃO   -->
							</template>
							<template v-else>
								<h5 align="center">Não foi encontrado nenhum aluno</h5>
							</template>
						</b-card>
					</div>
				</b-col>
				<b-col></b-col>
			  </b-row>
		</template>
		<template v-if="usuarioLogado.tipo == 'ESTUDANTE'">
			<b-row>
				<b-col></b-col>
				<b-col cols="5">
				<br>
				<div>
					<b-card title="Aluno" sub-title="Seus dados no sistema">
						<p><strong>Seu nome</strong></p>
						<p><em>{{aluno.nome}}</em></p>
						<p><strong>Idade</strong></p>
						<p><em>{{aluno.idade}}</em></p>
						<p><strong>Tipo de grau </strong></p>
						<p><em>{{aluno.ensino}}</em></p>
						<p><strong>Serie</strong></p>
						<p><em>{{aluno.serie}}</em></p>
					</b-card>
				</div>
				</b-col>
				<b-col></b-col>
			</b-row>
		</template>
	</div>     
     
     
     
     
     
    <script src="resources/js/vue.js"></script>
	<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
	<script src="//unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
	<script src="//unpkg.com/bootstrap-vue@2.1.0/dist/bootstrap-vue.min.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js" type="module"></script>
	<script src="resources/js/cadastro.js" type="module"></script>
 </body>
</html>